main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.nav__menu a{
  color: #fff;
  margin:10px;
}
.logo{
  position: absolute;
  right: 5%;
  padding: 20px;
  color: #fff;
}